@charset 'utf-8';


@import url('https://fonts.googleapis.com/css?family=Numito:400,700');


$purple:#c9168d;
$pink:#fa7c91;
$dark:#333;
$beige-lighter:rgb(245,245,245);


$family-sans-serif:'Nunito',sans-serif;
$primary:$purple;
$link:$dark;
$danger:$pink;


$body-background-color:$beige-lighter;

@import '../../node_modules/bulma/bulma.sass';



@import '../../node_modules/swiper/swiper-bundle.css';

:root {
    --swiper-navigation-size: 20px;
    /*
    --swiper-navigation-color: var(--swiper-theme-color);
    */
  }

.swiper-button-next::after{
    color:#000;
    opacity: 0.1;
}

.swiper-button-next:hover::after{
    opacity: 1;
}
.swiper-button-prev::after{
    color:#000;
    opacity: 0.1;
}
.swiper-button-prev:hover::after{
    opacity: 1;
}

// .swiper-pagination-bullet-active{
//     background: #fff;
// }

