// ----------------- MAIN ---------------------

.main{
    position: relative;
    // margin:119px 0 468px 0;
    background:#dedede;
}

// --------------- Home page ---------------
.home-page{
    width:100%;
    padding:120px 0 0 0;
    background:#dedede;
}

// --------------Login & Register LR-Header --------------

.LR-header{
    width: 100%;
    height: 84px;
    display:flex;
    align-items: center;
    background: #000;
    color:#fff;
    position: absolute;
    z-index:999;
    top:0;
}

.LR-header-nav{
    width:1200px;
    display:flex;
    height: 35px;
    justify-content: space-between;
    margin:auto;
    a{
        color:#fff;
    }
}

.LR-logo-box{
    width: 248px;
    display:flex;
    align-items: center;;
    a{
        margin:0 10px 0 0;
        img{
            width: 190px;
            height: 42px;
        }
    }
    div{
        line-height: 35px;
        font-size:20px;
    }
}
.LR-help{
    line-height: 35px;
}


//--------------- login page ----------------
.login-wrapper {
    width: 100%;
    position: relative;
    padding:120px 0 500px 0;
    .login-box{
        width:500px;
        height: 475px;
        padding:1.5rem 1.5rem 2rem 1.5rem;
        margin: 20px auto;
        h1{
            font-weight: 900px;
            font-size:20px;
            text-align: center;
            margin:0 0 20px 0;
        }
        button{
            width: 100%;
        }
    }
    .login-features{
        width: 100%;
        .login-others{
            display:flex;
            justify-content: space-between;
            margin:15px 0;
        }
        .login-text{
            display:flex;
            align-items: center;
            div{
                width:50%;
                height: 1px;
                background: #000;
            }
            span{
                padding: 0 16px;
            }
        }
        .login-otherinter{
            button{
                border:none;
                outline: none;
                margin:5px;
                cursor: pointer;
            }
            .login-facebook{
                background: #1877f2;
                width: 140px;
                height: 40px;
                .login-facebook-icon{
                    color:#fff;
                    width: 30px;
                    height: 30px;
                    
                }
            }
            .login-google{
                background: #4285f4;
                width: 140px;
                height: 40px;
                .login-google-icon{
                    width: 30px;
                    height: 30px;
                    background:#fff;
                }
            }
            .login-apple{
                background: #000;
                width: 140px;
                height: 40px;
                .login-apple-icon{
                    width: 30px;
                    height: 30px;
                    color:#fff;
                }
            }
            
        }
        .login-newmember{
            text-align:center;
            line-height: 50px;
            span{
                padding:0 4px 0 0;
            }
            a{
                color:orangered;
            }
        }
    }
}

//--------------footer ---------------

.footer{
    width:100%;
    height: 468px;
    padding:0;
    position: absolute;
    // bottom:0;
    hr{
        margin:0 auto;
        background:#000;
        opacity: 0.3;
        width:1200px;
    }
    .footer-top{
        width:1200px;
        height: 357px;
        display:flex;
        margin:auto;
        .footer-items-box{
            width: 240px;
            padding:5px;
            div{
                margin:40px 0 20px 0;
            }
        }
    }
    .footer-down{
        width:1200px;
        margin:auto;
        height: 101px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:5px;
        
        .footer-language-box{
            display:flex;
            align-items: center;
            .footer-language-link{
                border-right:1px solid #000;
                height: 16px;
                padding:0 5px;
                display:flex;
                align-items: center;
                a{
                    font-size: .875rem;
                }
            }
        }
        
    }

}


//---------------- header ----------------

.header-wrapper{
    width: 100%;
    height: 119px;
    background: #000;
    position:fixed;
    top:0;
    z-index:100;
}
.header{
    width:1200px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    height: 34px;
    
    .header-left{
        color:#fff;
        display:flex;
        align-items: center;
        font-size: .8125rem;
        .tvpay-download{
            padding:0 7px;
            height: 15px;
            line-height: 15px;
            text-align: center;
            border-left:1px solid #fff;
            border-right:1px solid #fff;
        }
        a{
            color:#fff;
            padding:0 7px;
        }
    }
    .header-right{
        color:#fff;
        font-size: .8125rem;
        a{
            color:#fff;
            padding:0 7px;
        }
    }
    
}

.header-search{
    width:1200px;
    height: 85px;
    padding: 16px 0 10px;
    display:flex;
    margin:auto;
    .logo-link{
        width: 202px;
        height: 59px;
        text-align: center;
        img{
            width: 59px;
            height: 59px;
        }
    }
    .search-box{
        .search-input{
            width:100%;
            height: 40px;
            background:#fff;
            border-radius:3px;
            padding:3px;
            display:flex;
            align-items: center;

            input{
                width:774px;
                height: 34px;
                padding:0 0 0 10px;
                border:none;
                outline-style: none;
            }
            button{
                width: 60px;
                padding:0 10px;
                height: 34px;
                background: #000;
                border:none;
                outline: none;
                border-radius: 3px;
                color:#fff;
                .search-btn-icon{
                    width:15px;
                    height: 15px;
                }
            }
            button:hover{
                background: orange;
            }
        }
        .search-link{
            a{
                padding:0 6.5px;
                color:#fff;
            }
        }
    }
    .shopping-cart{
        width:138px;
        position: relative;
        .shopping-icon{
            width: 26px;
            height: 26px;
            position: absolute;
            top:calc(50% - 13px);
            left:calc(50% - 13px);
            color:#fff;
        }
        .dropdown-content{
            .dropdown-item{
                width: 300px;
                height: 300px;
                text-align: center;
                
            }
        }
    }
}


//----------------- sectionbanner ---------------

.section {
    width: 100%;
    height: 383px;
    background:#fff;
    padding:30px 0 0 0;
}
.banner1-content{
    width: 1200px;
    height: 235px;
    margin:auto;
    display:flex;
}
.slider-banner1{
    width: 796px;
    height: 235px;
    
    .swiper-slider-box{
        width: 796px;
        height: 235px;
        img{
            width: 796px;
            height: 235px;
            z-index:99;
        }
    }
}
.banner1-box{
    margin:0 0 0 5px;
    .banner1-top{
        width: 398px;
        height: 115px;
        margin:0 0 2.5px 0;
        img{
            width: 398px;
            height: 115px;
        }
    }
    .banner1-down{
        width: 398px;
        height: 115px;
        margin:2.5px 0 0 0;
        img{
            width: 398px;
            height: 115px;
        }
    }
}
.buy-items{
    width: 1200px;
    height: 108px;
    margin:auto;
    margin-top:10px;
    display:flex;
}
.buy-11{
    width:10%;
    height: 108px;
    display:flex;
    align-items: center;
    text-align:center;
    padding:10px 0;
    
    .buy-box{
        width: 100%;
        height: 67px;
        .buy-img{
            width: 45px;
            height: 45px;
            margin:auto;
            img{
                width: 100%;
                height: 45px;
            }
        }
        
        .buy-box{
            margin:0 0 8px 0;
        }

    }

}
.buy-11:hover .buy-box{
    transform: scale(1.1);
    transition:0.5;
}


//------------------------ packagebanner -------------------------
.packagebanner{
    width: 100%;
    margin:20px 0 0 0;
    .packagebanner-content{
        max-width:1200px;
        height: 110px;
        margin:auto;
        img{
            width: 100%;
            height: 110px;
        }
        
    }
}

// --------------------- sectionclass -----------------------

.classbanner{
    width: 100%;
    height: 382px;
    .classbanner-box{
        width: 1200px;
        padding:20px 0 0 0;
        margin:auto;
        
        .classbanner-header{
            height: 61px;
            padding:0 20px;
            line-height: 61px;
            background: #fff;
        }
        .classbanner-items{
            height: 300px;
            background: #fff;
            .classbanner-item-top{
                display:flex;
            }
            .classbanner-item-down{
                display:flex;
            }
        }
    }
}


.classbanner-column{
    width: 120px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    border:0.5px solid #dedede;
    .classbanner-img{
        width: 83px;
        height: 76px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .classbanner-name{
        margin:10px 0;
    }
}
.classbanner-column:hover{
    box-shadow:0px 0px 1px #000;
}

// ------------- sectiontimeout ---------------

.sectiontimeout{
    width:1200px;
    height: 321px;
    padding:20px 0 0 0;
    margin:auto;
    .sectiontimeout-header{
        width: 100%;
        height: 61px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        padding:0 20px;

        .sectiontimeout-sales{
            display:flex;

            .saletime-text{
                color:red;
            }
            .saletime-box{
                display:flex;
                div{
                    color:#fff;
                    background: #000;
                    margin:0 5px;
                    padding:0 5px;
                    border-radius:5px;
                }
            }
        }
        a{
            color:red;
        }
    }
    
    .sectiontimeout-items{
        
        background:#fff;

        .swiper-slider-box{
            
            a{
                width: 200px;
                height: 240px;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
            }

            .sectiontimeout-img{
                width: 173px;
                height: 173px;
                img{
                    width: 100%;
                    height: 173px;
                }
            }
        }
    }
}

.sectiontimeout-price{
    color:orangered;
}


// --------------- GroupBuy -------------------

.groupbuy{
    width:1200px;
    height: 374px;
    padding:20px 0 0 0;
    margin:auto;
    .groupbuy-header{
        width: 100%;
        height: 60px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        padding:0 20px;
        

        .groupbuy-sales{

            .saletime-box{
                display:flex;
                div{
                    color:#fff;
                    background: #000;
                    margin:0 5px;
                    padding:0 5px;
                    border-radius:5px;
                }
            }
        }
        a{
            color:red;
        }
    }
    
    .groupbuy-items{
        background:#fff;
        padding:20px 0;

        .swiper-slider-box{
            
            a{
                width: 200px;
                height: 254px;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
            }

            .groupbuy-img{
                width: 170px;
                height: 170px;
                img{
                    width: 100%;
                    height: 170px;
                }
            }
        }
    }
}

.groupbuy-o-price{
    font-size:14px;
    text-decoration:line-through;
}
.groupbuy-s-price{
    color:orangered;
}


// ----------------- skinnybanner ------------------

.skinnybanner{
    width: 1200px;
    height: 140px;
    margin:auto;
    display:flex;
    a{
        width: 50%;
        margin:30px 0 0 0;
        height: 110px;
        div{
            img{
            width: 100%;
            height: 110px;
            
            }
        }
    }
}

// ---------------- CarouseBanner --------------------

.carouselbanner{
    width: 1200px;
    height: 503px;
    margin:auto;
    display:flex;
    padding:20px 0 0 0;
    flex-wrap:wrap;
    .carouselbanner-header{
        width: 100%;
        height: 28px;
        display:flex;
        justify-content: space-between;
        padding:0 5px 10px 20px;
        div{
            width: 1010px;
        }
    }
    .carouselbanner-banner{
        width: 400px;
        height: 472px;
        padding:10px 0 10px 10px;
        background: #fff;
        div{
            width: 390px;
            height: 452px;
            img{
                width: 100%;
                height: 452px;
            }
        }
    }
    .carouselbanner-items{
        background: #fff;
        width: 800px;
        height: 472px;
        .carouselbanner-slider{
            height: 236px;
            text-align:center;
            
            // border:1px solid red;
            
            .carouselbanner-box{
                width: 180px;
                height: 216px;
                padding:10px;
                a{
                    width: 180px;
                    height: 216px;
                    
                    img{
                        width: 100%;
                        height: 180px;
                    }
                }
                div{
                    color:red;
                }
            }
            
        }
    }
    
}
// ------------------ MostBanner -------------------

.mostbanner{
    
    width: 1200px;
    height: 181px;
    padding:20px 0 0 0;
    margin:auto;
    .mostbanner-header{
        width: 100%;
        height: 61px;
        line-height: 61px;
        padding:0 20px;
        background:#fff;
    }
    .mostbanner-content{
        width: 100%;
        height: 100px;
        display:flex;
        background: #fff;
        .mostbanner-box{
            width: 240px;
            height: 100px;
            display:flex;
            padding:0 10px 0 0;
            border:0.5px solid #dedede;
            
            .mostbanner-text{
                width: 129.5px;
                height: 99.5px;
                .mostbanner-text1{
                    padding:20px 10px 20px 20px;
                }
            }
            .mostbanner-img{
                width: 99.5px;
                height: 99.5px;
                img{
                    width: 100%;
                    height: 99.5px;
                }
            }
        }
    }
}


// ---------------- hotbanner ------------------

.hotbanner{
    width: 1200px;
    height: 406px;
    padding:20px 0 0 0;
    margin:auto;
    .hotbanner-header{
        height: 61px;
        padding:0 20px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        a{
            color:red;
        }
    }
    .hotbanner-content{
        background: #fff;
            
        .hotbanner-link{
            width:338px;
            height:268px;
            padding:30px 30px 25px;
            .hotbanner-img{
                width:333px;
                height:224px;
                margin:0 5px 0 0;
                display:flex;
                .hotbanner-pic1{
                    width: 224px;
                    height: 224px;
                    padding:0 5px 0 0;
                    img{
                        width: 224px;
                        height: 224px;
                    }
                }
                .hotbanner-pic2{
                    width:109px;
                    img{
                        width: 109px;
                        height: 109px;
                    }
                }
            }
            .hotbanner-text{
                margin:23px 0 0 0;
            }
        }
    }
}

// ------------------- NewDayBanner --------------------
.newdaybanner{
    width: 1200px;
    margin:auto;
    padding:20px 0 0 0;
    .newdaybanner-nav{
        width: 1200px;
        height: 61px;
        padding:0 20px;
        background: #fff;
        ul{
            display:flex;
            align-items: center;
            justify-content: flex-start;
            line-height: 61px;
        }
    }
    .newdaybanner-products{
        width: 1200px;
        margin:5px auto;
        display:flex;
        flex-wrap:wrap;
    }
    .newdaybanner-card{
        width: 200px;
        height: 285px;
        padding:0 5px;
        
        .newdaybanner-cardbox{
            width: 190px;
            height: 275px;
            padding:0;
            background: #fff;
            .card-image{
                width: 190px;
                height: 190px;
                padding:1px;
                img{
                    width: 188px;
                    height: 188px;
                    margin:0;
                }
            }
            .card-content{
                height: 85px;
                padding:10px;
                .content{
                    overflow:hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; //行數
                    -webkit-box-orient: vertical;
                    white-space: normal;
                    margin:0;
                }
                .card-price{
                    display:flex;
                    justify-content: space-between;
                }
            }
        }
        
    }

    .newdaybanner-more{
        width: 1200px;
        margin:auto;
        display:flex;
        justify-content: center;
        button{
            width:390px;
            height: 40px;
            padding:0 20px;
            margin:20px 0;
        }
    }
}


// ------------------ products ----------------------

.products{
    width:100%;
    padding:120px 0 0 0;
    background: #dedede;
}

.products-page{
    width: 100%;
    margin:auto;
    padding:20px 0;
    display:flex;
    justify-content: center;
    .page-prev{
        border:none;
        width: 40px;
        height: 30px;
        margin:0 15px 0 0;
        background:transparent;
    }
    .page-next{
        border:none;
        width: 40px;
        height: 30px;
        margin:0 0 0 15px;
        background:transparent;
    }
    .page-num{

        .page-btn{
            background:transparent;
            // background: #000;
            // color:#fff;
            width: 40px;
            height: 30px;
            outline: none;
            border:none;
            margin:0 15px;
            border-radius:3px;
        }
        .page-btn:hover{
            background: #000;
            color:#fff;
        }

        .page-btn:focus{

            background: #000;
            color:#fff;
        }

        .page-dot{
            background: transparent;
            width: 40px;
            height: 30px;
            outline: none;
            border:none;
            margin:0 15px;
            font-weight: 900;
        }
    }
}

// ------------------ producttool -----------------------
.productstool{
    width:1200px;
    margin:auto;
    height:100px;
    padding:20px 0;
    display:flex;
    
    
    .products-title{
        font-size:3rem;
        font-weight: 600;
        line-height: 60px;
        text-align: center;
    }
    .products-features{
        background: gray;
        width:100%;
        margin:0 0 0 20px;
        padding:0 0 0 20px;
        display:flex; 
        justify-content: space-between;
        align-items: center;

        .products-breadcrumb{
            display:flex;
            
        }

        .products-breadcrumb > li > a, .products-breadcrumb > li{
            color:#fff;
        }
        .products-breadcrumb > li + li:before {
            color: #000;
            content: "/ ";
            padding: 0 5px;
        }

        .products-filter{
            padding:0 20px 0 0;
            color:#fff;
            display:flex;
            align-items: center;
            
        }
    }
}

// ---------------- Product -----------------

.product{

    width:1200px;
    display:flex;
    flex-wrap:wrap;
    margin:auto;

    .card{
        width: 220px;
        margin:10px;
        height:350px;

        .card-image{

            figure{

                width: 220px;
                height: 220px;
    
                img{
                    width: 220px;
                    height: 220px;
                }
            }
        }
        .card-content{
            
            p{
                font-weight: 700;
                margin:0;
                i{
                    font-size:10px;
                    color:#000;
                }
                
            }

            .product-buy{

                display:flex;
                justify-content: space-between;
                align-items: flex-end;

                .product-buy-icon{
                    background: #dedede;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border:none;
                    outline: none;;
                }
                .product-buy-icon:hover{
                    background: #000;
                    transition:0.5s;
                }
                .product-buy-icon:hover > i{
                    color:#fff;
                }
            }
        }
    }
    .card:hover{
        transform: translateY(-5px);
        transition:0.5s
    }
}

.product-fade-enter{
    opacity: 0.1;
}

.product-fade-enter-active{
    opacity: 1;
    transition:all 0.3s ease-in
}
.product-fade-exit{
    opacity: 1;
}

.product-fade-exit-active{
    opacity: 0.1;
    transition:all 0.3 ease-in;
}


// ------------------- ProductDetail ----------------------

.productdetail{
    width: 1200px;
    padding:140px 0 20px 0;
    margin:auto;
    
    
    .productdetail-pro{
        display:flex;
        .productdetail-slider{
            width: 480px;
            height: 679px;
            padding: 15px;
            background: #fff;

            .productdetail-preview{
                

                .preview-box{
                    width: 450px;
                    height: 450px;
                    img{
                        width: 450px;
                        height: 450px;
                    }
                }
            }
            .productdetail-gallery{
                padding:5px 0 0 0;
                
                .gallery-box{
                    
                    width: 90px;
                    height: 90px;

                    img{
                        width: 90px;
                        height: 90px;
                    }
                }
                
            }
            .productdetail-tool{
                display:flex;
                height: 25px;
                margin:15px 0 0 0;

                .productdetail-share{
                    
                    display:flex;
                    align-items:center;
                    padding:30px;

                    div{
                        margin:0 5px 0 0;
                    }

                    button{
                        border:none;
                        background: transparent;
                        font-size:30px;
                        cursor: pointer;

                        .fa-facebook{
                            color:#166fe5;
                        }
                        
                        .fa-google-plus{
                            color:red;
                        }
                        
                        .fa-line{
                            color:#00b900;
                        }
                    }
                }

                .productdetail-like{

                    display:flex;
                    align-items: center;
                    padding:30px;

                    button{
                        
                        font-size:29px;
                        background: transparent;

                    }

                    button:focus{

                        color:red;
                        
                    }
                }
            }
        }

        .productdetail-minutiae{
            width: 800px;
            height: 679px;
            padding:20px 35px 0 20px;
            background: #fff;

            .productdetail-state{
                height: 25px;
                display:flex;
                margin:15px 0 0 0;
                line-height: 25px;

                .score{
                    color:red;
                    display:flex;
                    a{
                        margin:0 5px 0 0;
                        color:red;
                        line-height: 25px;
                        text-decoration:underline;
                    }
                }
                i{
                    width: 18px;
                    height: 18px;
                    line-height: 25px;
                }
                .eva{
                    padding:0 20px;
                }
            }
            .productdetail-money{
                display:flex;
                align-items: center;
                background: #dedede;
                padding:15px 20px;
                div{
                    margin:0 10px 0 0;
                }
                .price1{
                    text-decoration:line-through;
                }
                .price2{
                    font-size: 1.875rem;
                    color:red;
                }
                .onsale{
                    background: red;
                    color:#fff;
                }
            }

            .productdetail-items{
                
                margin:25px 0 0 0;
                padding: 0 20px;

                .productdetail-item1, .productdetail-item2,
                .productdetail-item3, .productdetail-item4,
                .productdetail-item5, .productdetail-item6{
                    display:flex;
                    padding:0 0 25px 0;
                    label{
                        width: 110px;
                    }
                    input{
                        width: 50px;
                    }
                }

                .productdetail-item1{

                    div{
                        background: lightpink;
                        color:red;
                        padding:0 5px;
                    }
                }
                .productdetail-item4{
                    label{
                        line-height: 48px;
                    }
                }
                .productdetail-item5{
                    label{
                        line-height:40px;
                    }
                    button{
                        margin:0 10px 10px 0;
                        font-size:14px;
                        box-shadow: none;
                    }

                    button:focus{

                        color: palevioletred;
                        border:1px solid palevioletred;

                    }

                }

                .productdetail-item6{
                    label{
                        line-height:40px;
                    }
                    input{
                        text-align: center;
                    }
                    input::-webkit-inner-spin-button,
                    input::-webkit-outer-spin-button{
                        -webkit-appearance:none;
                    }
                    div{
                        line-height: 40px;
                        margin: 0 0 0 20px;
                    }
                }
                
            }
            .productdetail-cart{
                    
                button{
                    padding:0 20px;
                    margin:0 20px 0 0;
                    width: 180px;
                    height: 48px;
                    outline:none;
                    border:none;
                }
                .cart-btn1{
                    color: palevioletred;
                    border:1px solid palevioletred;
                }
                
                
                
            }
        }
    }

    .productdetail-content{
        width: 1200px;
        margin:20px 0 0 0;
        background: #fff;
        padding:10px;
        
        .detail-box1{
            padding:15px 15px 0 15px;

            .detail-header{
                padding:14px;
                width: 100%;
                height: 50px;
                background: #dedede;
            }
            
            .detail-format{
                width: 100%;
                height: 300px;
                padding:30px 15px 15px 15px;
                
                .detail-hd{

                    display:flex;
                    margin:0 0 18px 0;

                    label{

                        width: 100px;
                        margin:0 40px 0 0;
                    }
                }
            }
        }

        .detail-box2{
            padding:15px 15px 0 15px;

            .detail-header{
                padding:14px;
                width: 100%;
                height: 50px;
                background: #dedede;
            }

            .detail-info{
                width: 100%;
                height: 500px;
                padding:30px 15px 15px 15px;
            }
        }
    }
    
    .productdetail-eva{

        width: 1200px;
        margin:20px 0 0 0;
        padding:25px;
        background: #fff;

        .eva-header{

            margin:0 0 18px 0;
        }
        .eva-rating{

            display:flex;
            align-items: center;
            background-color: rgb(255, 251, 248);
            border: 1px solid rgb(249, 237, 229);
            height: 131px;
            padding:30px;
            margin:0 0 20px 0;

            .eva-box{

                text-align:center;
                margin:0 30px 0 0;

                .eva-num{

                    color:red;

                    .num-mag{

                        font-size: 1.875rem;

                    }
                }


                .eva-star{
                    color:red;
                    font-size: 1.2rem;
                    
                }
            }

            .button{
                width: 110px;
                margin:5px 8px 5px 0;
                padding:0 10px;
            }

            .button:focus{

                border:1px solid red;
                color:red;
                box-shadow: none;
            }

        }

        .eva-comment{

            .eva-leave{
            
                .eva-head{
    
                    width: 100px;
                    height: 100px;
    
                    img{
                        width: 100px;
                        height: 100px;
                    }
                }

                .eva-body{

                    .eva-personal{
                        
                        color:red;

                    }
                }
            }
        }
    }
}






// ------------------- SpecailProducts ----------------------



.specialproducts{
    width: 100%;
    padding:119px 0 0 0;
    

    .specialproducts-header{
        width: 1200px;
        height: 100px;
        text-align: center;
        margin:auto;
        display:flex;
        justify-content: center;
        align-items: center;
        p{
            font-size:2rem;
            padding:0 20px;
        }
        div{
            width: 20px;
            border:2px solid red;
        }
    }
}


.pros-nav{
    width: 100%;
    background: #fff;
    .pros-items{
        width: 1200px;
        height: 50px;
        display:flex;
        margin:auto;
        justify-content: space-evenly;
        a{
            line-height: 47px;
            border-bottom:3px solid transparent;
        }
        a:hover{
            color:red;
            transition:.5s;
        }
        a:focus{
            border-bottom:3px solid red;
        }
            
        .drop-div{
            line-height: 50px;
            border:none;
        }
        .drop-div:active{
            outline: none;
        }
        .drop-div:hover{
            color:red;
            transition:.5s;
            cursor: pointer;
        }
    }
}


// ---------------- ShopNav & CheckNav --------------------

.shopnav{

    width: 100%;


    .shopnav-hd{

        width: 100%;
        background: #000;
        
        
        .shopnav-tool{

            margin:auto;
            width: 1200px;
            height: 34px;
            display:flex;
            justify-content: space-between;
            align-items: center;
            
            
            .shopnav-features{

                display:flex;
                align-items: center;
                
                div{

                    height: 15px;
                    border-left:1px solid #fff;
                    border-right:1px solid #fff;
                    display:flex;
                    align-items: center;
                    
                }
            }

            .shopnav-state{

            }

        }

        a{
            color:#fff;
            font-size: .8125rem;
            line-height: 34px;
            padding:0 10px;
        }

    }

    .shopnav-search{

        width: 100%;
        background: #fff;

        .shopnav-search-bar{

            display:flex;
            height: 100px;
            width: 1200px;
            align-items: center;
            justify-content: space-between;
            margin:auto;

            .logo-link{

                display:flex;
                align-items: center;

                a{

                    img{
                        width: 80px;
                        height: 80px;
                    }

                }

                .logo-text{

                    display:flex;
                    align-items: center;
                    padding:0 20px;
                    height:30px;
                    border-left:1px solid #000;
                    border-right:1px solid #000;
                    margin:0 20px;
                    font-size:2rem;

                }

            }

        }

        .search-box{

            display:flex;

            input{

                height: 40px;
                width: 537px;
                border:2px solid #000;
                font-size:14px;
                border-radius: 0;
                box-shadow: none;

            }

            button{

                width: 80px;
                background: #000;
                border:2px solid #000;
                border-radius: 0;
                color:#fff;
                box-shadow: none;
            }

        }
    }

}


// ---------------- ShoppingCart ------------------

.shoppingcart{

    width: 1200px;
    padding:0px 0 10px 0;
    margin:auto;


    button:focus{

        border:none;

    }

    .shop-car-chk{

        padding:0 20px;
        height: 18px;
    
        input{

            width: 18px;
            height: 18px;

        }

    }

        .shop-voucher{
            
            background: #fffefb;
            border: 1px solid rgba(224,168,0,.4);
            padding:0 20px;
            line-height: 42px;
            height: 42px;
            width: 100%;
            margin:20px 0 10px 0;

            a{
                color:red;
            }

        }

        .shop-header{

            padding:0 20px;
            margin:0 0 12px 0;
            display:flex;
            align-items: center;
            justify-content: space-between;
            height: 55px;
            background: #fff;

            .shop-item1{

                display:flex;
                align-items: center;

            }

            .shop-item2{

                display:flex;
                

                div{

                    width: 150px;
                    text-align: center;

                }

            }

        }

        .shop-car{

            display:flex;
            padding:15px 20px;
            height: 115px;
            background: #fff;
            align-items: center;

        

            .shop-pro{

                display:flex;
                align-items: center;

                img{

                    width: 80px;
                    height: 80px;

                }

                .shop-text{

                    padding:5px 10px;
                    width: 320px;
                    font-size: 14px;
                    overflow:hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    white-space: normal;
                    height: 50px;

                }

            }

            .shop-format{

                width: 100px;
                text-align:center;

            }

            .shop-unitprice{

                width: 150px;
                text-align: center;

            }

            .shop-mount{

                width: 160px;
                text-align: center;

                input{

                    width: 50px;
                    text-align:center;

                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {

                    -webkit-appearance: none;

                }
                
                

            }

            .shop-total{

                width: 130px;
                text-align: center;

            }

            .shop-del{

                width: 150px;
                padding:0 0 0 20px;
                text-align: center;

            }

            
        }

    

    .shop-coupon{

        margin:10px 0;
        background: #fff;

        .shop-coupon-header{

            display:flex;
            height: 50px;
            align-items: center;
            // justify-content: flex-end;
            padding:0 20px;
            border-bottom:1px solid #dedede;

            span{
                
                width: 100px;
                text-align:center;

            }

            div{

               margin:0 20px;
               
            }

           

        }

        .shop-coupon-content{

            display:flex;
            height: 50px;
            border-bottom:1px solid #dedede;
            align-items: center;
            // justify-content: flex-end;

            div{

                width: 100px;
                display:flex;
                align-items: center;

                span{

                    margin:0 10px;

                }

            }

        }
        
        .shop-coupon-footer{

            display:flex;
            align-items: center;
            justify-content: space-between;
            height: 80px;

            .shop-select{

                display:flex;
                align-items: center;
                

            }

            .shop-result{

                display:flex;
                align-items: center;

                .shop-money{

                    span{
                        font-size: 1.875rem;
                        color:red;
                    }
                    
                    p{
                        font-size:14px;
                        color:orange;
                    }
                }

                button{

                    width:200px;
                    margin:0 20px;
                    
                }

            }

        }

    }

}

// ------------------ CheckOut --------------------

.checkout{

    width: 1200px;
    padding:0px 0 10px 0;
    margin:auto;

    .check-header{

        margin:20px 0 0 0;

       .check-title{

            background: #fff;
            height: 70px;
            padding:0 20px;
            margin:0 0 20px 0;
            display:flex;
            align-items: center;
            justify-content: space-between;


            .check-money{

                display:flex;

                div{

                    width: 150px;

                }
            }

        }
       
        .check-content{
            
            display:flex;
            align-items: center;
            height: 100px;

            img{
                width: 80px;
                height: 80px;
                margin:0 20px;
            }
        }
       

    }

}